# IDE specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Compiled output
target/
build/
out/
dist/

# Logs
*.log
*.log.*
appLog/
appLog*/
logs/
/logs/
*.gz
/appLog/
/appLog/**
log/
/log/
logging.path_IS_UNDEFINED/

# Application properties
application.properties
application-*.properties
secret.properties

# Dependencies
node_modules/
.mvn/
mvnw
mvnw.cmd

# System Files
.DS_Store
Thumbs.db

