HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore environment variables file
.env

# Ignore application properties with sensitive information
src/main/resources/secret.properties
src/main/resources/application.properties

# Ignore image files in resources
src/main/resources/**/*.jpg
src/main/resources/**/*.jpeg
src/main/resources/**/*.png
src/main/resources/**/*.gif
src/main/resources/**/*.bmp
src/main/resources/**/*.webp
src/main/resources/**/*.svg
src/main/resources/**/*.ico



# Ignore logs
*.log
*.log.*
appLog/
logs/
/logs/
*.gz
/appLog/
/appLog/**
log/
/log/
logging.path_IS_UNDEFINED/
